;--------------------------------------------------------------------
;STRIPPER CFG BY MOLTARD http://steamcommunity.com/id/0123456789ABC/
;--------------------------------------------------------------------

;==============
;	LEVEL1
;==============

;-----------------------------------------------------------------------
;KNIGHT BOSS TARGET (the player is a target for 3 seconds instead of 4)
;-----------------------------------------------------------------------

modify:
{
	match:
	{
		"targetname" "Knight_Boss_Dw_Rot"
		"wait" "4"
		"classname" "trigger_multiple"
	}
	replace:
	{
		"wait" "3"
	}
	delete:
	{
		"OnTrigger" "Knight_Boss_Tar,Kill,,3.99,-1"
	}
	insert:
	{
		"OnTrigger" "Knight_Boss_Tar,Kill,,2.99,-1"
	}
}

;------------------------------------------
;KNIGHT BOSS DAMAGE LVL1 / EXT1 DIFFERENCE
;------------------------------------------

modify:
{
	match:
	{
		"targetname" "Knight_Boss_Path7"
		"classname" "path_track"
	}
	delete:
	{
		"OnPass" "Knight_Boss_Model_Arm_Hurt,AddOutput,damage 80,1.1,1"
		"OnPass" "Knight_Boss_Hurt,AddOutput,damage 80,1.1,1"
	}
	insert:
	{
		"OnPass" "Knight_Boss_Model_Arm_Hurt,AddOutput,damage 40,1.1,1"
		"OnPass" "Knight_Boss_Hurt,AddOutput,damage 40,1.1,1"
		"OnUser1" "Knight_Boss_Model_Arm_Hurt,AddOutput,damage 80,2.50,1"
		"OnUser1" "Knight_Boss_Hurt,AddOutput,damage 80,2.50,1"
	}
}

;==============
;	LEVEL2
;==============

;---------------------------
;SKELETON BOSS FIGHT LONGER
;---------------------------

modify:
{
	match:
	{
		"targetname" "Skeleton_Boss_Relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Skeleton_Boss_Phys*,SetDamageFilter,Filter_Nada,80,1"
		"OnTrigger" "Skeleton_Boss_HurtModel,SetAnimation,wakeup,80.5,1"
		"OnTrigger" "Skeleton_Boss_HurtModel,SetDefaultAnimation,dance_4,80.53,1"
		"OnTrigger" "Skeleton_Boss_HurtShake,StartShake,,80,1"
		"OnTrigger" "Skeleton_Boss_HurtModel,Enable,,80.53,1"
		"OnTrigger" "Skeleton_Boss_Timer,Disable,,82.5,1"
		"OnTrigger" "Skeleton_Boss_Model*,SetAnimation,dance_4,82.53,1"
		"OnTrigger" "Skeleton_Boss_Hurt,Enable,,83,1"
	}
	insert:
	{
		"OnTrigger" "Skeleton_Boss_Phys*,SetDamageFilter,Filter_Nada,85,1"
		"OnTrigger" "Skeleton_Boss_HurtModel,SetAnimation,wakeup,85.5,1"
		"OnTrigger" "Skeleton_Boss_HurtModel,SetDefaultAnimation,dance_4,85.53,1"
		"OnTrigger" "Skeleton_Boss_HurtShake,StartShake,,85,1"
		"OnTrigger" "Skeleton_Boss_HurtModel,Enable,,85.53,1"
		"OnTrigger" "Skeleton_Boss_Timer,Disable,,87.5,1"
		"OnTrigger" "Skeleton_Boss_Model*,SetAnimation,dance_4,87.53,1"
		"OnTrigger" "Skeleton_Boss_Hurt,Enable,,88,1"
	}
}


;==============
;	LEVEL3
;==============

;-------------
;DITTO SECRET
;-------------

modify:
{
	match:
	{
		"targetname" "Lvl3_SecretDitto"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "Lvl3_SecretDoor,Open,,20,1"
	}
	insert:
	{
		"OnBreak" "Lvl3_SecretDoor,Open,,15,1"
	}
}


;--------------------------
;SAFE SYSTEM SNORLAX SLEEP
;--------------------------

add:
{
	"origin" "3664 7612 1593"
	"targetname" "Snorlax_Boss_SleepSafe"
	"Negated" "Allow entities that match criteria"
	"filterteam" "3"
	"classname" "filter_activator_team"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.1,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.2,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.3,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.4,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.5,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.6,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.7,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.8,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,0.9,-1"
	"OnPass" "Map_SpeedMod,ModifySpeed,1,1,-1"
}

modify:
{
	match:
	{
		"targetname" "Snorlax_Boss_SleepTrig"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnUser2" "!self,Disable,,0,1"
		"OnUser2" "!self,Enable,,0.1,1"
		"OnUser2" "!self,Disable,,0.2,1"
		"OnUser2" "!self,Kill,,0.3,1"
	}
	insert:
	{
		"OnUser2" "!self,Disable,,0,1"
		"OnUser2" "!self,Enable,,0.05,1"
		"OnUser2" "!self,Disable,,0.1,1"
		"OnUser2" "!self,Enable,,0.15,1"
		"OnUser2" "!self,Disable,,0.2,1"
		"OnUser2" "!self,Enable,,0.25,1"
		"OnUser2" "!self,Disable,,0.3,1"
		"OnUser2" "player,AddOutput,OnUser1 Snorlax_Boss_SleepSafe:TestActivator::0:1,0.3,1"
		"OnUser2" "player,FireUser1,,0.33,1"
		"OnUser2" "!self,Kill,,0.4,1"
	}
}

modify:
{
	match:
	{
		"targetname" "Snorlax_Boss_SleepCase"
		"classname" "logic_case"
	}
	insert:
	{
		"Case11" "0"
		"OnCase11" "Map_Speedmod,ModifySpeed,1,0,-1"
	}
}

;----------------------
;FIX WARMUP
;----------------------

modify:
{
	match:
	{
		"targetname" "Level_Case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,5,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,10,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,20,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,30,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND <<,40,1"
		"OnCase01" "Server,Command,say >> WARMUP ROUND END <<,50,1"
		"OnCase01" "Server,Command,say >> 40 SECONDS LEFT <<,11,1"
		"OnCase01" "Server,Command,say >> 30 SECONDS LEFT <<,21,1"
		"OnCase01" "Server,Command,say >> 20 SECONDS LEFT <<,31,1"
		"OnCase01" "Server,Command,say >> 10 SECONDS LEFT <<,41,1"
		"OnCase01" "Server,Command,mp_restartgame 1,52,1"
		"OnCase01" "Level_Stocker,AddOutput,OnUser1 Level_Counter:SetValue:2:0.00:1,50.02,1"
		"OnCase01" "Level_Stocker,FireUser1,,50,1"
	}
	insert:
	{
		"OnCase01" "Level_Stocker,AddOutput,OnUser1 Level_Counter:SetValue:2:0.00:1,1.02,1"
		"OnCase01" "Level_Stocker,FireUser1,,1,1"
	}
}
